# tabular data files
*.csv
# geospatial data files
*.gpkg
*.dbf
*.prj
*.shp
*.shx
# gridded data products
*.nc
*.grib
*.idx
*.tif
# packages
*.zip
# model saving
*.pth
*.json
# python related files
__pycache__
*.egg-info
venv
# environment files
*.env
